spring:
  application:
    name: backend
  
  # MySQL数据库配置
  datasource:
    url: jdbc:mysql://localhost:3306/agile?useSSL=false&serverTimezone=UTC&createDatabaseIfNotExist=true
    username: root
    password: 123123123
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  # JPA配置
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect